<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DICOMSEND.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <DICOMSEND.Properties.Settings>
            <setting name="HostString" serializeAs="String">
                <value>192.168.1.1</value>
            </setting>
            <setting name="PortString" serializeAs="String">
                <value>11112</value>
            </setting>
            <setting name="FolderPathString" serializeAs="String">
                <value>E:\</value>
            </setting>
            <setting name="AECString" serializeAs="String">
                <value>UPLOADER</value>
            </setting>
            <setting name="AETString" serializeAs="String">
                <value>TEST</value>
            </setting>
        </DICOMSEND.Properties.Settings>
    </userSettings>
</configuration>
